@keyframes blink {
  50% {
    opacity: 0;
  }
}

.flicker {
  color: red;
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.flicker--add {
  animation-duration: 0.3s;
}
